<table class='list'>
  <tr>
    <th>開始時刻</th>
    <th>時間</th>
    <th>プロジェクト名</th>
    <th>チケット名</th>
    <th>作業内容</th>
  </tr>
  <% @ttevents.each do |ttevent| %>
    <tr>
      <%# TODO timezone %>
      <td><%= ttevent.start_time.in_time_zone('Japan').strftime('%H:%M') %></td>
      <td><%= ttevent.duration %></td>
      <td><%= ttevent.issue.project.name %></td>
      <td><%= ttevent.issue.subject %></td>
      <td><%= TimeEntryActivity.find(ttevent.time_entry.activity_id) %></td>
    </tr>
  <% end %>
</table>
<p class="other-formats">他の形式にエクスポート:
  <%= link_to 'CSV', ttstatistics_daily_report_path + '/' + @date.to_date.to_s + '.csv' %>
</p>
