<%= render 'header' %>
<div class="contextual">
  <%= link_to l(:timetable), ttevents_path, class: 'icon icon-calendar' %>
</div>
<h2>
  <%= l(:statistics)%>
</h2>
<% html_title l(:statistics) %>
<%= render 'notice' %>
  <p>
   <%= label_tag :date %>
   <%= date_field_tag :date , @date.strftime('%Y-%m-%d') %>
  </p>
  <script>
    $('#date').datepicker({
      dateFormat: 'yy-mm-dd',
      onSelect: function(dateText){
        // console.log(dateText);
        url = dateText + '.js' ;
        $.ajax({
          type: "POST",
          url: url,
          data: {
            date: dateText
         },
         success: function(e){
           console.log('get data');
           // console.log(e);
           history.pushState("", "", dateText);
         }
        })
      }
    });
  </script>
  <div id="daily_report_table">
   <%= render 'daily_report_table' %>
  </div>
<% content_for :sidebar do %>
  <%= render 'side_bar' %>
<% end %>
