<%= render 'header' %>
<div class="contextual">
  <%= link_to l(:timetable), ttevents_path, class: 'icon icon-calendar' %>
</div>
<h2>
  <%= l(:statistics)%>
</h2>
<%= render 'notice' %>
<% content_for :sidebar do %>
  <%= render 'side_bar' %>
<% end %>
