<%= render 'header' %>
<div class="contextual">
  <%= link_to l(:timetable), ttevents_path, class: 'icon icon-calendar' %>
</div>
<h2>
  <%= l(:statistics)%>
</h2>
<% html_title l(:statistics) %>
<%= render 'notice' %>
<h3>日ごとの終了イベント数と作業時間（直近１０日）</h3>
<div id="chart"></div>
<% if @ttevents.present? %>
  <table class="list">
    <tr>
      <th>年月</th>
      <th>個数</th>
      <th>時間</th>
    </tr>
    <% @ttevents.each do |ttevent| %>
      <tr>
        <td>
          <%= ttevent.year %> / <%= ttevent.month %> / <%= ttevent.day %>
        </td>
        <td>
          <%= ttevent.count %>
        </td>
        <td>
          <%= ttevent.sum %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<% content_for :sidebar do %>
  <%= render 'side_bar' %>
<% end %>

<script>
  console.log(gon.ttevents)
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      x: 'x',
      xFormat: '%Y%m%d',
      columns: gon.ttevents,
      type: 'bar',
      axes: {
        個数: 'y2'
      }
    },
    axis: {
      x : {
        type: 'timeseries'
      },
      y2: {
        show: true
      }
    },
    bar: {
      width: {
        ratio: 0.3
      }
    },
  });
</script>
