<%= render 'header' %>
<div class="contextual">
  <%= link_to l(:timetable), ttevents_path, class: 'icon icon-calendar' %>
</div>
<h2>
  <%= l(:statistics)%>
</h2>
<% html_title l(:statistics) %>
<%= render 'notice' %>
<h3>日ごとの終了イベント数（直近１０日）</h3>
<table class="list">
  <tr>
    <th>年月</th>
    <th>個数</th>
  </tr>
  <% @ttevents_by_day.each do |key, value| %>
    <tr>
      <td>
        <%= key[0] %> / <%= key[1] %> / <%= key[2] %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
</table>
<h3>日ごとの作業時間数(直近１０日)</h3>
<table class="list">
  <tr>
    <th>年月</th>
    <th>時間</th>
  </tr>
  <% @ttevents_hours_by_day.each do |key, value| %>
    <tr>
      <td>
        <%= key[0] %> / <%= key[1] %> / <%= key[2] %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <% end %>
</table>
<% content_for :sidebar do %>
  <%= render 'side_bar' %>
<% end %>
