<div id="dialog" title="<%=h "#{l(:edit_event)} | #{@ttevent.issue.project.name} - #{@ttevent.issue.subject}" %>">
  <%= form_for @ttevent.issue, url: ttevent_with_issue_path, remote: true do |f| %>
    <fieldset class="field box">
      <legend><%= l(:edit_issue)%></legend>
      <div class="slider_field">
        <%= f.label :done_ratio %> 
        <%= f.hidden_field :done_ratio %> 
        <span id="done_ratio"><%= @ttevent.issue.done_ratio %></span> %
        <div id="slider"></div>
      </div>
      <p>
        <%= f.label :status_id %>
        <%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}) %>
      </p>
      <p>
        <%= f.label :due_date %>
        <%= f.text_field :due_date %>
      </p>
      <%= f.fields_for @ttevent do |builder|%>
      </fieldset>
      <fieldset class="box">
        <legend>
          <p>
            <%= builder.check_box :is_done %> 
            <%= builder.label :is_done %>
          </p>
        </legend>
      <% end %>
      <%= f.fields_for @ttevent.time_entry do |builder|%>
        <p>
          <%= builder.label :spent_on %>
          <%= @ttevent.start_time.to_date %>
          <%= builder.hidden_field :spent_on ,value: @ttevent.start_time.to_date %>
        </p>
        <p>
          <%= builder.label :hours %> 
          <%= @ttevent.duration%> <%= l(:hours) %>
        </p>
        <%= builder.hidden_field :hours,value: @ttevent.duration %>
        <p>
          <%= builder.label :activity_id %>
          <%= builder.select :activity_id, activity_collection_for_select_options(@ttevent.time_entry) %>
        </p>
        <p>
          <%= builder.label :comments %>
          <%= builder.text_field :comments, size: 25 %>
        </p>
      </fieldset>
    <% end %>
      <p>
       * <%= l(:notice_link_to_ttevent_destroy) %>
      </p>
    <%= f.submit l(:button_update), disabled_with: 'loading..', class: 'button update' %>
  <% end %>
  <button type="button" class="button cancel" onClick="cancel();">
    <%= l(:button_cancel) %>
  </button>
  <%= link_to l(:link_to_ttevent_destroy), ttevent_path(@ttevent), method: :delete, data: { confirm: l(:message_destroy_confirm) },remote: true, class: 'button destroy' %>
</div>
<script>
  $(".button").button();
  function cancel(){
    $('#dialog').dialog("close");
    $('#modal_area').html('');
    delete window.event
  }
  $("input#issue_due_date").datepicker()
  $('#slider').slider({
    value: <%= @ttevent.issue.done_ratio %>,
    min: 0,
    max: 100,
    step: 10,
    animate: 'fast',
    slide: function(event, ui){
      $('#done_ratio').html(ui.value)
      $('#issue_done_ratio').val(ui.value)
    }
  
  });
</script>
