<div id="dialog" title="<%=h "#{l(:edit_event)} | #{@ttevent.issue.project.name} - #{@ttevent.issue.subject}" %>">
  <%= form_for @ttevent.issue, url: ttevent_with_issue_path do |f| %>
    <fieldset class="field box">
      <legend><%= l(:edit_issue)%></legend>
      <p>
        <%= f.label :done_ratio %> 
        <%= f.number_field :done_ratio, step: 10, max: 100, min: 0 %> %
      </p>
      <p>
        <%= f.label :status_id %>
        <%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}) %>
      </p>
      <%= f.fields_for @ttevent do |builder|%>
      </fieldset>
      <fieldset class="box">
        <legend>
          <p>
            <%= builder.check_box :is_done %> 
            <%= builder.label :is_done %>
          </p>
        </legend>
      <% end %>
      <%= f.fields_for @ttevent.time_entry do |builder|%>
        <p>
          <%= builder.label :spent_on %>
          <%= @ttevent.start_time.to_date %>
          <%= builder.hidden_field :spent_on ,value: @ttevent.start_time.to_date %>
        </p>
        <p>
          <%= builder.label :hours %> 
          <%= @ttevent.duration%> <%= l(:hours) %>
        </p>
        <%= builder.hidden_field :hours,value: @ttevent.duration %>
        <p>
          <%= builder.label :activity_id %>
          <%= builder.select :activity_id, activity_collection_for_select_options(@ttevent.time_entry) %>
        </p>
        <p>
          <%= builder.label :comments %>
          <%= builder.text_field :comments, size: 25 %>
        </p>
      </fieldset>
    <% end %>
    <%= f.submit l(:button_update), class: 'button update' %>
  <% end %>
  <button type="button" class="button cancel" onClick="cancel();">
    <%= l(:button_cancel) %>
  </button>
  <%= link_to l(:link_to_destroy), @ttevent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button destroy' %>
</div>
<script>
  $(".button").button();
  function cancel(){
    $('#dialog').dialog("close");
    $('#modal_area').html('');
  }
</script>
