<div id="dialog" title="Edit Event | <%=h "#{@ttevent.issue.project.name} - #{@ttevent.issue.subject}" %>">
  <%= form_for @ttevent.issue, url: ttevent_with_issue_path do |f| %>
    <fieldset class="box">
      <legend>Issueを更新する</legend>
      <p>進捗度 <%= f.number_field :done_ratio, step: 10, max: 100, min: 0 %> %</p>
      <p>ステータス <%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}) %></p>
      <p>今までの合計時間 <%= f.time_field :estimated_hours %> 時間</p>
      <%= f.fields_for @ttevent do |builder|%>
      </fieldset>
      <fieldset class="box">
        <legend>
         <p><%= builder.check_box :is_done %> 作業時間を報告してこのイベントをクローズする.</p>
        </legend>
      <% end %>
      <%= f.fields_for @ttevent.time_entry do |builder|%>
        <p>日付 <%= @ttevent.start_time.to_date %></p>
        <%= builder.hidden_field :spent_on ,value: @ttevent.start_time.to_date %>
        <p>使った時間 <%= @ttevent.duration%>時間</p>
        <%= builder.hidden_field :hours,value: @ttevent.duration %>
        <p>作業の種類 <%= builder.select :activity_id, activity_collection_for_select_options(@ttevent.time_entry) %></p>
      </fieldset>
    <% end %>
    <%= f.submit '更新', class: 'button update' %>
  <% end %>
  <button type="button" class="button cancel" onClick="cancel();">Cancel</button>
  <%= link_to 'Destroy', @ttevent, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button destroy' %>
</div>
<script>
  $(".button").button();
  function cancel(){
    $('#dialog').dialog("close");
    $('#modal_area').html('');
  }
</script>
