<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'fullcalendar/fullcalendar.min', :plugin => 'redmine_timetable' %>
  <%= stylesheet_link_tag 'ttevent', :plugin => 'redmine_timetable' %>
  <%= javascript_include_tag 'lib/moment.min', plugin: 'redmine_timetable' %>
  <%= javascript_include_tag 'lib/fullcalendar', plugin: 'redmine_timetable' %>
  <%= javascript_include_tag 'lib/lang/ja', plugin: 'redmine_timetable' %>
  <%= javascript_include_tag 'lib/jquery.noty.packaged.min.js', plugin: 'redmine_timetable' %>
<% end %>

<div class="contextual">
  <%= link_to l(:statistics), ttstatistics_path, class: 'icon icon-stats' %>
</div>
<h2>
  <%= l(:timetable) %>
</h2>
<% html_title l(:timetable) %>

<div id="fullcalendar"></div>
<div id="description">
  <span class="description"><span class="boxes not-sure"></span><%= l(:description_not_sure)%></span>
  <span class="description"><span class="boxes out-of-time"></span><%= l(:description_out_of_time)%></span>
  <span class="description"><span class="boxes on-time"></span><%= l(:description_on_time)%></span>
  <span class="description"><span class="boxes in-time"></span><%= l(:description_in_time)%></span>
  <span class="description"><span class="boxes closed"></span><%= l(:description_closed)%></span>
</div>
<div id="modal_area" class="hidden"></div>

<% content_for :sidebar do %>
  <h3>
    <%= l(:issues)%>
  </h3>
  <div id="tt-events">
    <%= render partial: 'issue_list', locals: {issues: @issues} %>
  </div>
<% end %>

<script>
  var window_event;
  $(document).ready(function() {
    // Initialize
    $('#tt-events .draggable').each(function(){
      $(this).not('.ui-draggable-disabled').draggable({
        revert: true,
        revertDuration: 0
      });
      $(this).data('event', {
        title: $.trim($(this).text()),
        stick: true,
        issue_id: $.trim($(this).data('issue_id'))
      });
    });
    
    // Calendar
    $('#fullcalendar').fullCalendar({
      startParam: "start_time",
      endParam: "end_time",
      timezone: "<%= @timezone %>",
      eventSources: [
        {
          url: 'ttevents/ttevents_list',
         type: 'POST'
        },
        {
          url: 'ttevents/holiday_list', 
          type: 'POST'
        }
      ],
      // TODO add redmine business Hour
      businessHours: {
        start: '9:30',
        end: '18:30',
        dow: [1, 2, 3, 4, 5]
      },
      defaultView: 'agendaDay',
      allDaySlot: false,
      header: { center: 'month, agendaWeek, agendaDay'},
      selectable: true,
      editable: true,

      droppable: true,
      drop: function(date, jsEvent){
        $(this).draggable('disable');
      },
      select: function(start, end, jsEvent, view){
        if (view.name == 'month' || view.name == 'agendaWeek' ){ return; }
        console.log(jsEvent);
        $.ajax({
          type: 'GET',
          url: "ttevents/new_issue",
          data: {
            ttevent: {
              start_time: start.format(),
              end_time: end.format()
            }
          },
          success: function(e){
            console.log('new issue');
            // console.log(e);
          },
          error: function(e,status){
            console.log('error');
            // console.log(e);
            // console.log(status);
          }

        })
      },
      eventReceive: function(event, element){
        title = event.title;
        start = event.start.format();
        end = event.end.format();
        issue_id = event.issue_id;
        stick = event.stick;
        $.ajax({
          type: "POST",
          url: "ttevents",
          data: {
            ttevent: {
            start_time: start,
            end_time: end,
            issue_id: issue_id
          }},
          success: function(ttevent,status){
            console.log('data posted');
            console.log(ttevent);
            event.color = ttevent.color;
            event.id = ttevent.id;
            console.log(event);
            console.log(event.id);
            console.log(typeof(event.id));
            $('#fullcalendar').fullCalendar('updateEvent', event);
            console.log('data post updated');
            $.ajax({
              type: 'GET',
              url: "ttevents/issue_lists"
            })
          }
        });
      },
      eventResize: function(event, delta, revertFunc){
        console.log(event.title + " end is now " + event.end.format());
        title = event.title;
        start = event.start.format();
        end = event.end.format();
        id = event.id;
        // console.log(id);
        stick = event.stick;
        url = "ttevents/" + id;
        $.ajax({
          type: "PUT",
          url: url,
          data: {
            id: id,
            ttevent: {
            start_time: start,
            end_time: end,
          }},
          success: function(i){
            console.log('updated');
          }
        });
      },
      eventDrop: function(event, delta, revertFunc){
        console.log(event.title + " start is now " + event.start.format());
        title = event.title;
        start = event.start.format();
        end = event.end.format();
        id = event.id
        stick = event.stick;
        url = "ttevents/" + id;
        // console.log(url);
        $.ajax({
          type: "PUT",
          url: url,
          data: {
            id: id,
            ttevent: {
            start_time: start,
            end_time: end,
          }},
          success: function(i){
            console.log('updated');
          }
        });
      },
      dayClick: function(date, jsEvent, view) {
        if (view.name == 'agendaDay' ){ return; }
        $('#fullcalendar').fullCalendar('gotoDate', date.format() );
        $('#fullcalendar').fullCalendar('changeView', 'agendaDay');
      },
      eventClick: function(calEvent, jsEvent, view) {
        console.log('Event: ' + calEvent.title);
        console.log('Event: ' + calEvent.id);
        // console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        // console.log('View: ' + view.name);
        id = calEvent.id;
        console.log('eventClick');
        console.log(typeof(id));
        if (id == 'holiday'){
          return false;
        }
        url = "ttevents/" + id + "/edit";
        window_event = calEvent;
        
        $.ajax({
          type: "GET",
          url: url,
          data: {ttevent: {
            id: id
          }},
          success: function(e){
            console.log('get data');
            //console.log(e);

          }
        });
      },
      eventAfterRender: function(event, element, view){
        console.log('event after render');
        console.log(event.id);
        console.log(typeof(event.id));
        if (event.id == 'holiday'){
          holiday_date = event.start.format()
          // console.log(holiday_date);
          $("td[data-date = '"+ holiday_date +"']").addClass("holiday");
        } else{
          return false;
        }
      }
    });
  });
</script>
